### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Specific ###
include/wifi_login.h